DB_NAME=postgres_db
DB_USER=postgres_user
DB_PASSWORD=postgres_password
DB_HOST=db
DB_PORT=5432

CLIENT_REQUESTS_URL=http://api:8000/api/data
CLIENT_WORKERS=10
CLIENT_MAX_DELAY_MS=1000
CLIENT_HTTP_TIMEOUT=2

WORKER_REQUESTS_URL=http://api:8000/api/data
WORKER_REQUESTS_DELAY_S=10
WORKER_REQUESTS_MAX_ROWS=100
WORKER_DATA_FILENAME=data
WORKER_HTTP_TIMEOUT=2